#landingPage {
    height: 100vh;
    justify-content: start;
    background: url('./../../assets/images/background/dsfds.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: relative;
    box-sizing: border-box;

    .rightSide {
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 12%, rgba(230, 79, 94, 1) 100%);
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
    }
    div.mainContainer {
        position: relative;
        z-index: 11;
        .toggle{
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 4;
            width: 60px;
            height: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            display: none;
            span{
                height: 2px;
                background: red;
                width: 80%;
                transition: 320ms;
                &:nth-child(1){
                    width: 60%;
                }
                &:last-child{
                    width: 30%;
                }
            }
            
        }
        
        .homeNav{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            position: relative;
            // background: red;
            margin-top: 20px;
            .navLogo{
                width: 60px;
                height: 60px;
                position: relative;
                a{
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    span{
                        font-size: 18px;
                        font-family:  $mate-regular;
                        color: $color-white;
                        &:nth-child(1){
                            font-family:   $poppins-bold;
                        }
                    }
                    
                }
            }
            .navMenu{
                display: flex;
                ul{
                    display: flex;
                    gap: 10px;
                    a{
                        list-style: none;
                        text-decoration: none;
                        color: white;
                        padding: 10px 15px ;
                        cursor: pointer;
                        border-radius: 7px;
                        &:hover{
                            background: $color-white;
                            color: black;
                            transition: 320ms;
                        }
                    }
                }
            }
            .navAuth{
                display: flex;
                gap: 10px;
                li{
                    list-style: none;
                    color: black;
                    border-radius: 15px;
                    font-family: $poppins;
                    font-size: 16px;
                    background: $color-white;
                    padding: 10px 20px;
                    // border: 1px solid $color-white;
                    cursor: pointer;
                    &:hover{
                        color: $color-white;
                        background: black;
                        transition: 320ms;
                    }
                }
            }
        }
        .homeCenter{
            height: auto;
            display: flex;
            box-sizing: border-box;
            padding: 150px 0px 0px 0px;
            div{
                width: 50%;

            }
            div.centerLeft{
                display: flex;
                flex-direction: column;
                h1{
                    font-size: 60px;
                    font-family: $poppins-bold;
                    color: $color-white;
                 
                }
                span{
                    color: $color-red;
                    // font-family: $mate-regular;
                font-family: $poppins-bold;
                font-size: 70px;

                }
                p{
                    color: $color-white;
                    font-family: $mate-regular;
                    letter-spacing: 1px;
                    font-size: 16px;
                }
                a{
                    padding: 15px 30px;
                    text-decoration: none;
                    background: $color-white;
                    color: black;
                    border-radius: 20px;
                    width: fit-content;
                    margin-top: 30px;
                    &:hover{
                        background: black;
                        color: white;
                        letter-spacing: 2px;
                        transition: 320ms;
                    }
                }
            }
            div.centerRight{
                position: relative;
                img{
                    position: absolute;
                    width: 100%;
                    top: -110px;
                }
            }
        }
    }
}





// ************************//
//====FEATURE SECTION ==== //
//*************************//
#feature{
    height: auto;
    background-image: $backgroundImage;
    padding: 80px 0;
    h1{
        font-family: $mate-regular;
        color: $text-primary;
    }
    .featureCards{
        display: flex;
        gap: 50px 10px;
        justify-content: center;
        align-items: center;
        padding: 30px 30px;
        flex-wrap: wrap;
        .featureCard {
            background: $primary;
                width: 25%;
                min-width: 300px;
                height: 300px;
                border: 1px solid $border-primary;
                border-radius: 7px;
                box-shadow: $box-shadow-primary;
                cursor: pointer;
                position: relative;
                display: flex;
                padding: 30px;
                flex-direction: column;
                div {
                        &:first-child.blue {
                            width: 60px;
                            height: 60px;
                            background: $color-blue;
                            border-radius: 15px;
                            color: $color-white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: -30px;
                            left: 65%;
                            -webkit-box-shadow: 1px 20px 69px 3px rgba(84, 147, 228, 1);
                            -moz-box-shadow: 1px 20px 69px 3px rgba(84, 147, 228, 1);
                            box-shadow: 1px 20px 69px 3px rgba(84, 147, 228, 1);
                
                            a {
                                color: $color-white;
                                font-size: 22px;
                                text-decoration: none;
                            }
                        }
                
                        &:first-child.red {
                            width: 60px;
                            height: 60px;
                            background: $color-red;
                            border-radius: 15px;
                            color: $color-white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: -30px;
                            left: 65%;
                            -webkit-box-shadow: 1px 20px 69px 3px rgba(230, 79, 94, 1);
                            -moz-box-shadow: 1px 20px 69px 3px rgba(230, 79, 94, 1);
                            box-shadow: 1px 20px 69px 3px rgba(230, 79, 94, 1);
                
                            a {
                                color: $color-white;
                                font-size: 22px;
                                text-decoration: none;
                            }
                        }
                        &:first-child.green {
                            width: 60px;
                            height: 60px;
                            background: $color-green;
                            border-radius: 15px;
                            color: $color-white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: -30px;
                            left: 65%;
                            -webkit-box-shadow: 1px 20px 69px 3px rgba(152,204,96,1);
                            -moz-box-shadow: 1px 20px 69px 3px rgba(152,204,96,1);  
                            box-shadow: 1px 20px 69px 3px rgba(152,204,96,1);
                
                            a {
                                color: $color-white;
                                font-size: 22px;
                                text-decoration: none;
                            }
                        }
                        &:first-child.yellow {
                            width: 60px;
                            height: 60px;
                            background: $card-yellow;
                            border-radius: 15px;
                            color: $color-white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: -30px;
                            left: 65%;
                            -webkit-box-shadow: 1px 20px 69px 3px rgba(252,199,77,1);
                            -moz-box-shadow: 1px 20px 69px 3px rgba(252,199,77,1);
                            box-shadow: 1px 20px 69px 3px rgba(252,199,77,1);
                
                            a {
                                color: $color-white;
                                font-size: 22px;
                                text-decoration: none;
                            }
                        }

                    &:nth-child(2){
                        margin-top: 20px;
                        h1{
                            color: $blackWhite;
                        }
                    }
                    &:last-child{
                        p{
                            color: $text-primary;
                        }
                    }
                }
            }
    }
}