#mainDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    box-sizing: border-box;
    .sidebar{
        height: auto;
        min-width: 200px;
        overflow: hidden;
        transition: 320ms;
    }
    .sidebarCollapse{
        width: calc(60px - 100%);
        transition: 320ms;
        box-sizing: border-box;
        border-right: 1px solid $border-primary;
    }
    .sidebarUnCollapse{
        width: calc(200px - 100%);
        transition: 320ms;
    }
    .sidebar-collapse{
        width: calc(60px - 100%);
        min-width: 60px !important;
        overflow: hidden;
        border-right: 1px solid $border-primary;
        box-sizing: border-box;
    }
    .contentFullWidth{
        width: calc(100% - 60px) !important;
    }
    #content{
        width: calc(100% - 200px);
        box-sizing: border-box;
        display: block;
        transition: width 320ms;
        position: relative;
        .navbar{
            padding: 0 20px;
            // border-bottom: 1px solid $border-primary;
            display: flex;
            align-items: center;
            padding-left: 5px;
           .toggle{
            width: 40px;
           }
        }
    }
    .themeNotActive{
        width: 50px;
    }
    .themeActive{
        width: 300px;
        background: $primary;
        border: 1px solid $border-primary;
        border-radius: 6px;
    }
    .themeChanger{
        position: fixed;
        right: 0;
        top: 40%;
        display: flex;
        justify-content: flex-start;
        transition: 320ms;
        padding: 10px 0 0 10px;
        box-sizing: border-box;
        z-index: 666;
        flex-wrap: wrap;
        button{
            width: 50px;
            height: 50px;
            border: 1px solid $border-primary;
            font-size: 25px;
            cursor: pointer;
            background-color: $primary;
            color: $color-blue;
            border-radius: 6px;
            &:focus{
                outline: none;
            }
            .fa-gear{
                animation: 5s linear infinite;
                animation-name: setting;
                @keyframes setting {
                    to{transform: rotate(0);}
                    from{transform: rotate(360deg);}
                }
            }

        }
        .theme{
            width: 100%;
            margin: 15px 10px 15px 0;
            border-radius: 6px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            .themes{
                width: 30%;
                height: 50px;
                button{
                    width: 100%;
                    height: 100%;
                    font-size: 25px;
                    border-radius: 0;
                    margin-right: 3px;
                    outline: none;
                    &:focus{
                        outline: none;
                    }
                }
                .dark-theme{
                    background: black;
                    color: #adababd4;
                }
                .light-theme{
                    background: white;
                    color: #414141d1;
                }
            }
        }
        .sidebarChanger{
            width: 100%;
            margin: 15px 10px 15px 0;
            border-radius: 6px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            button{
                width: 25px;
                height: 25px;
                border: 1px solid $border-primary;
                border-radius: 50%;
            }
        }
    }
}

.contents {
    padding: 22px;
    .content-wrap{
        background: $secondary;
        height: auto;
        border-radius: 6px;
        box-shadow: $box-shadow-secondary;
    }
}


//menu
.toggle {
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin-right: 15px;
}

.toggle span {
    position: absolute;
    width: 30px;
    height: 2px;
    background: $color-turquoise;
    border-radius: 10px;
    transition: 0.5s;
}

.toggle span:nth-child(1) {
    transform: translateY(-9px);
    width: 25px;
    left: 6px;
}

.toggle.active span:nth-child(1) {
    width: 28px;
    transform: translateY(0) rotate(45deg);
    transition-delay: 0.125s;
}

.toggle span:nth-child(2) {
    transform: translateY(10px);
    width: 15px;
    left: 6px;
}

.toggle.active span:nth-child(2) {
    width: 28px;
    transform: translateY(0) rotate(315deg);
    transition-delay: 0.25s;
}

.toggle.active span:nth-child(3) {
    transform: translateX(60px);
}

// sidebar colors
.defaultBg{
    background: $primary;
}

.bg-1 {
    background: linear-gradient(139deg, #556270a3, #ff6b6b1f);
}

.bg-2 {
    background: linear-gradient(139deg, rgb(0 100 208 / 64%), rgb(255 255 255 / 12%));
}

.bg-3 {
    background: linear-gradient(139deg, rgb(134 55 147 / 64%), rgb(107 139 255 / 12%));
}

.bg-4 {
    background: linear-gradient(139deg, rgb(66 73 18 / 64%), rgb(33 70 83 / 45%));
}

.bg-5 {
    background: linear-gradient(139deg, rgb(241 63 63 / 73%), rgb(107 237 255 / 36%));
}