.sidebar{
    background: var(--content-background);
    color: var(--text-color);
    width: 280px;
    min-width: 280px;
    height: 100vh;
    box-shadow: rgba(17, 12, 46, 0.15) -20px 0px 20px 9px;

    .user-detail{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding:50px 0;
        img{
            width: 70px;
            height: 70px;
            object-fit: contain;
            border-radius: 50%;
            border:$_color-orange;
             padding: 3px;
        }
        p{
            width: 100%;
            display: block;
            font-family: poppins-italic;
            text-align: center;
        }
    }
    .menu{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        ul{
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li{
                width: 80%;
                list-style: none;
                height: 60px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                cursor: pointer;
                position: relative;
                margin-top: 6px;
                padding-left: 10px;
                border-radius: 6px;
                img{
                    width: 30px;
                }
                a{
                    text-decoration: none;
                    padding-left: 10%;
                    text-transform: uppercase;
                    color: var(--text-color);
                }
                &:hover{
                    transition: 150ms ease-in-out;
                    background:var(--background);
                }
            }
            
            .active{
                 background: var(--background);
                a:after{
                    content: "active";
                    position: absolute;
                    right: 15px;
                    font-size: 12px;
                    background: #ffc4163d;
                    padding: 2px 10px;
                    text-align: center;
                    line-height: 2.5;
                    border-radius: 6px;
                    color: var(--text-color);
                    top: 13px;
                }
            }
        }
        
    }
}