#sidebar{
    // background: $secondary;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    // border-right: 1px solid $border-primary;
    justify-content: center;
    .companyLogo{
        width: 100%;
        padding: 10px 0px;
        font-family: $poppins-bold;
        font-size: 20px;
        padding-left: 15px;
        margin-top: 20px;
        position: relative;
        color: $color-turquoise;
        min-width: 200px;
        i{
            font-size: 25px;
            margin-right: 15px;
        }
    }
    .menu{
        display: flex;
        width: 83%;
        flex-wrap: wrap;
        position: absolute; 
        top: 100px;
        ul{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            box-sizing: border-box;
            min-width: 178px;
            li{
                list-style: none;
                width: 100%;
                height: 40px;
                line-height: 40px;
                padding-left: 21px;
                font-size: 15px;
                color: $text-primary;
                cursor: pointer;
                position: relative;
                margin-top: 1px;
                border-radius: 6px;
                box-sizing: border-box;
                
                i{
                    margin-right: 25px;
                    font-weight: 700;
                }
                &:hover{
                    background: $primary;
                    transition: 320ms;
                }
            }
            li.active::before{
                content: "";
                position: absolute;
                position: absolute;
                width: 4px;
                height: 15px;
                top: 29%;
                background: $color-blue;
                left: 5px;
            }
            li.active {
                color: $color-blue;
                background: $secondary;
                box-shadow: $box-shadow-secondary;
                i{
                    font-size: 20px;
                }
            }
        }
    }
}