<div id="sidebar">
    <div class="companyLogo"><p> <i class="fa-solid fa-truck-fast"></i> Shipping</p></div>
    <div class="menu">
        <ul>
            <ng-container *ngFor="let menu of menuList">
                <li [routerLink]="menu.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="menu.subMenu; else noSubMenu">
                    <i class="{{menu.icon}}" (click)="openSubMenu()"></i>
                    <span (click)="openSubMenu()">{{menu.routeName}}</span>
                    <span *ngIf="menu.subMenu" style="float: right;" (click)="openSubMenu()"><i class="fa-regular fa-chevron-down"></i></span>
                    <ul *ngIf="menu.subMenu" class="subMenu hideSubMenu" id="subMenu">
                        <li *ngFor="let subMenu of menu.subMenu" class="subMenu-list">
                            <a [routerLink]="subMenu.route" routerLinkActive="subMenuActive">{{subMenu.routeName}}</a>
                        </li>
                    </ul>
                </li>
                <ng-template #noSubMenu>
                    <li [routerLink]="menu.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="{{menu.icon}}"></i>
                        <span>{{menu.routeName}}</span>
                    </li>
                </ng-template>
            </ng-container>
        </ul>
    </div>
</div>
