<div class="sidebar">
    <div class="user-detail">
        <img src="../../../../../assets/images/profile.jpg" alt="user">
        <p>web developer</p>
    </div>
    <div class="menu">
        <ul>
            <li routerLink="admin" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"><img src="../../../../../assets/images/menu/home.png" alt=""> <a>Home</a></li>
            <li routerLink="project" routerLinkActive="active"><img src="../../../../../assets/images/menu/projects.png" alt=""> <a>Project</a></li>
            <li routerLink="x" routerLinkActive="active"><img src="../../../../../assets/images/menu/skills.png" alt=""> <a>Skill</a></li>
            <li routerLink="x" routerLinkActive="active"><img src="../../../../../assets/images/menu/setting.png" alt=""> <a>Setting</a></li>
        </ul>
    </div>
    <div class="sidebar-footer"></div>
</div>