<div class="profileViewModel" *ngIf="isModelActive">
    <div class="modelWrapper">
        <div class="modelCloseBtn">
            <button (click)="closeModel()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="profile">
            <div class="cover">nio</div>
            <div class="profilePic">
                <div class="userProfile" (click)="fullImage(userData.profile)">
                    <img src="{{userData.profile}}" alt="">
                </div>
                <div class="buttons">
                    <button><i class="fa-solid fa-link"></i> <span>Copy Link</span></button>
                </div>
            </div>
        </div>
        <div class="modelContent">
            kp[]
        </div>
    </div>

    <div class="ImageView" *ngIf="imageView">
        <div class="modelCloseBtn">
            <button (click)="exitFullIamge()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="image">
            <img src="{{userProfile}}" alt="">
        </div>
    </div>
</div>