<div class="wrapper">
    <div class="card-wrapper">
        <div class="wrap">
            <div class="card">
                <div class="title">Users <i class="fa-solid fa-users icon-blue"></i></div>
                <div class="card-data">525,500</div>
                <div class="card-pera"><p>This is last Month Data<span>25% increase</span></p></div>
            </div>
        </div>
        <div class="wrap">
            <div class="card">
                <div class="title">Users <i class="fa-solid fa-users icon-blue"></i></div>
                <div class="card-data">525,500</div>
                <div class="card-pera"><p>This is last Month Data<span>25% increase</span></p></div>
            </div>
        </div>
        <div class="wrap">
            <div class="card">
                <div class="title">Users <i class="fa-solid fa-users icon-blue"></i></div>
                <div class="card-data">525,500</div>
                <div class="card-pera"><p>This is last Month Data<span>25% increase</span></p></div>
            </div>
        </div>
        <div class="wrap">
            <div class="card">
                <div class="title">Users <i class="fa-solid fa-users icon-blue"></i></div>
                <div class="card-data">525,500</div>
                <div class="card-pera"><p>This is last Month Data<span>25% increase</span></p></div>
            </div>
        </div>
        <div class="wrap">
            <div class="card">
                <div class="title">Users <i class="fa-solid fa-users icon-blue"></i></div>
                <div class="card-data">525,500</div>
                <div class="card-pera"><p>This is last Month Data<span>25% increase</span></p></div>
            </div>
        </div>
    </div>
    <div class="chart-wrapper">
      
    </div>
</div>