<div class="wrapper">
    <div class="card-wrapper">
        <div class="wrap" *ngFor="let data of data;let odd=odd; let even=even">
            <div class="card">
                <div class="title">{{data.title}} <img src="{{data.icon}}" alt=""></div>
                <div class="card-data">{{data.number | currencyFormater}}</div>
                <div class="card-pera"><p>This is last Month Data<span  [ngClass]="{'color-blue': odd, 'color-green':even}">{{data.status}}</span></p></div>
            </div>
        </div>
    </div>
    <div class="chart-wrapper">
      <!-- <app-dashboard-card></app-dashboard-card> -->
      <div class="chart-wrap">
        <!-- <canvas id="myChart">{{chart}}</canvas> -->
      </div>
    
    </div>
</div>