.wrapper{
    height: calc(100vh - 100px);
    div.wrapp{
        &:first-child{
            width: 300px;
            min-width: 300px;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
        }
        &:last-child{
            width: calc(100% - 300px);
            // background: red;
        }
    }
}

.sendMessageBox{
    width: 96%;
    border-radius: 7px;
    bottom: 10px;
    // padding: ;
    .searchInput{
        input{
            padding: 0px !important;
            height: 50px;
            max-height: 200px;
            padding-left: 15px !important;
            box-sizing: border-box;
            background-color: transparent !important;
            border: none !important;
            &:focus{
                border: none !important;
            }
        }
    }
}

.searchAction{
    div{
        &:first-child{
            button{
                // background: transparent;
                border: none;
                &:focus{
                    outline: none;
                    border: none;
                }
            }
        }
    }
}