<div class="w-100 d-flex wrapper br-box">
    <div class="bg-secondary d-flex f-direction-column br-box p-5 wrapp">
        <div class="d-flex f-direction-column w-100">
            <div class="d-flex justify-space-between p-5 br-box">
                <h2 class="textwhiteblack">Message</h2>
                <span class="textwhiteblack"><i class="fa-solid fa-ellipsis-vertical"></i></span>
            </div>
            <div class="mt-20 pb-5"><h5 class="text-secondary">All Message</h5></div>
        </div>
        <div class="message w-100 h-100 br-box">
            <ul class="d-flex w-100 f-direction-column gap-10 p-5 pt-15 br-box">
                <li class="li-syl-nn d-flex bg-primary w-100 p-15 align-items-center crsr-pointer p-relative br-7 br-box">
                    <div class="p-relative user-image">
                        <img src="https://cdn6.f-cdn.com/files/download/38546484/28140e.jpg" alt="profile image">
                    </div>
                    <div class="d-flex f-direction-column pl-10">
                        <h3 class="fs-15">John doe</h3>
                        <p class="fs-12">What are you doing now</p>
                    </div>
                    <span class="p-absulute text-primary" style="right: 10px; top: 6px; font-size: 11px;">1 hr ago</span>
                </li>
                <li class="li-syl-nn d-flex bg-primary w-100 crsr-pointer p-15 align-items-center p-relative br-7 br-box">
                    <div class="p-relative user-image">
                        <img src="https://cdn6.f-cdn.com/files/download/38546484/28140e.jpg" alt="profile image">
                    </div>
                    <div class="d-flex f-direction-column pl-10">
                        <h3 class="fs-15">John doe</h3>
                        <p class="fs-12">What are you doing now</p>
                    </div>
                    <span class="p-absulute text-primary" style="right: 10px; top: 6px; font-size: 11px;">1 hr ago</span>
                </li>
                <li class="li-syl-nn d-flex bg-primary w-100 crsr-pointer p-15 align-items-center p-relative br-7 br-box">
                    <div class="p-relative user-image">
                        <img src="https://cdn6.f-cdn.com/files/download/38546484/28140e.jpg" alt="profile image">
                    </div>
                    <div class="d-flex f-direction-column pl-10">
                        <h3 class="fs-15">John doe</h3>
                        <p class="fs-12">What are you doing now</p>
                    </div>
                    <span class="p-absulute text-primary" style="right: 10px; top: 6px; font-size: 11px;">1 hr ago</span>
                </li>
                <li class="li-syl-nn d-flex bg-primary w-100 crsr-pointer p-15 align-items-center p-relative br-7 br-box">
                    <div class="p-relative user-image">
                        <img src="https://cdn6.f-cdn.com/files/download/38546484/28140e.jpg" alt="profile image">
                    </div>
                    <div class="d-flex f-direction-column pl-10">
                        <h3 class="fs-15">John doe</h3>
                        <p class="fs-12">What are you doing now</p>
                    </div>
                    <span class="p-absulute text-primary" style="right: 10px; top: 6px; font-size: 11px;">1 hr ago</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrapp d-flex br-box f-direction-column p-relative pl-15 bg-red pr-15 mb-10">
        <div class="">jopj</div>
        <div>hi</div>
        <div class="p-absulute d-flex f-direction-column  bg-primary mb-5 br-box sendMessageBox p-10">
            <div class="searchInput w-100 p-relative"><input type="text" name="" id="" placeholder="Send a Message..."></div>
            <div class="searchAction d-flex justify-space-between pl-15 pr-15">
                <div>
                    <button class="icon-btn-secondary"><i class="fa-solid fa-plus"></i></button>
                    <button class="ml-10 icon-btn"><i class="fa-regular fa-face-smile"></i></button>
                    <button class="ml-10 icon-btn"><i class="fa-solid fa-paperclip"></i></button>
                </div>
                <div>
                    <button class="btn-black">Send <i class="fa-solid fa-arrow-right ml-10"></i></button>
                </div>
            </div>
        </div>

    </div>
</div>