<app-navbar></app-navbar>
<div class="container-fluid p-relative " style="justify-content: flex-start;">
    <!-- <div class="box1 box" [ngStyle]="{'top.px': mouseY - offset, 'left.px': mouseX - offset}"></div> -->
    <!-- <div class="box2 box" [ngStyle]="{'top.px': mouseY - offset2, 'left.px': mouseX - offset2}"></div> -->
    <!-- <div class="box3 box" [ngStyle]="{'top.px': mouseY - offset3, 'left.px': mouseX - offset3}"></div> -->
    <div class="container d-flex f-wrap align-items-start mb-30">
        <div class="label w-100">
            <h1 class="primary-label ff-mate-ragular">Our Services</h1>
            <div class="w-100 d-flex  br-box align-items-center f-wrap justify-space-between">
                <div class="w-100 d-flex bg-secondary p-10 p-relative br-7 align-items-start mt-15">
                    <h1>As a dedicated innovator in the tech industry, I have developed a powerful tool designed to enhance the productivity and collaboration of companies. </h1>
                </div>
                <div class="cardWidth d-flex bg-secondary p-10 p-relative br-7 align-items-start mt-15" style="background: #ff60601f;">
                        <div class="bg-red p-20 br-7 ">
                            <img src="../../../assets/images/services/startup.png" alt="" width="100">
                        </div>
                        <div class="d-flex f-direction-column pl-10">
                            <h3 class="secondary-label">Transform Your Company's Workflow with Our All-in-One Solution</h3>
                            <p class="text-dark word-space3">Streamline your business operations with our comprehensive tool designed to enhance productivity and
                                collaboration. Our solution offers robust features including task deadline management, seamless video meetings,
                                efficient group meetings, and an integrated chat system. Elevate your company's workflow, improve team
                                communication, and ensure timely project completion with our innovative platform. Discover how our tool can
                                transform your business today!</p>
                        </div>
                </div>
                <div class="cardWidth d-flex bg-secondary p-10 p-relative br-7 align-items-start mt-15" style="background: #4242ff3b;">
                    <div class="bg-blue p-20 br-7 ">
                        <img src="../../../assets/images/services/emp.png" alt="" width="100">
                    </div>
                    <div class="d-flex f-direction-column pl-10">
                        <h3 class="secondary-label">Transform Your Company's Workflow with Our All-in-One Solution</h3>
                        <p class="text-dark word-space3">Streamline your business operations with our comprehensive tool designed to enhance productivity and
                            collaboration. Our solution offers robust features including task deadline management, seamless video meetings,
                            efficient group meetings, and an integrated chat system. Elevate your company's workflow, improve team
                            communication, and ensure timely project completion with our innovative platform. Discover how our tool can
                            transform your business today!</p>
                    </div>
            </div>
            <div class="cardWidth d-flex bg-secondary p-10 p-relative br-7 align-items-start mt-15" style="background: #4eea4e3b;">
                <div class="bg-turk p-20 br-7 ">
                    <img src="../../../assets/images/services/company.png" alt="" width="100">
                </div>
                <div class="d-flex f-direction-column pl-10">
                    <h3 class="secondary-label">Transform Your Company's Workflow with Our All-in-One Solution</h3>
                    <p class="text-dark word-space3">Streamline your business operations with our comprehensive tool designed to enhance productivity and
                        collaboration. Our solution offers robust features including task deadline management, seamless video meetings,
                        efficient group meetings, and an integrated chat system. Elevate your company's workflow, improve team
                        communication, and ensure timely project completion with our innovative platform. Discover how our tool can
                        transform your business today!</p>
                </div>
        </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>