<div id="navbar">
    <div class="bread-crumbs">
        <div *ngFor="let breadcrumbs of breadcrumbs; let last = last">
            <a [routerLink]="breadcrumbs.route" [ngClass]="{'current': last}">{{breadcrumbs.name}}</a><span
                *ngIf="!last"> /</span>
            <!-- <p [ngClass]="{'current': last}">{{breadcrumbs.name}}</p> -->
        </div>
    </div>
    <div class="nav-menu">
        <div class="notification">
            <a class="link-icon"><i class="fa-solid fa-bell"></i></a>
            <p class="noti-count">19</p>
        </div>
        <div class="chat">
            <a class="link-icon"><i class="fa-solid fa-message"></i></a>
            <p class="noti-count">83</p>
        </div>
        <div class="profile">
            <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/06/06/15/Chris-Pratt.jpg"
                alt="profile Picture">
        </div>
    </div>
</div>