body,*{
    padding: 0;
    margin: 0;
    font-family: $poppins;
    scroll-behavior: smooth;
}
body{
    background: $primary;
    overflow-x: hidden;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: $primary;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: $color-red; 
}

//width (in percentage (100%, 50%, 25%))
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}

//display (flex, block)
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.justify-end{
    justify-content: end;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-space-center{
    justify-content: center;
}
.f-wrap{
    flex-wrap: wrap;
}
.f-direction-column{
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
.gap-10{
    gap: 10px;
}


//text color (primary, secondary)
.text-primary{
    color: $text-primary;
}
.text-secondary{
    color: $text-secondary;
}

//background color (primary, secondary)
.bg-primary{
    background: $primary;
}
.bg-secondary{
    background: $secondary;
}

//padding (5px, 10px, 15px)
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}
.pt-5{
    padding-top: 5px;
}
.pt-10{
    padding-top: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pb-5{
    padding-bottom: 5px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-15{
    padding-bottom: 15px;
}
.pl-5{
    padding-left: 5px;
}
.pl-10{
    padding-left: 10px;
}
.pl-15{
    padding-left: 15px;
}
.pr-5{
    padding-right: 5px;
}
.pr-10{
    padding-right: 10px;
}
.pr-15{
    padding-right: 15px;
}

//border radius (6px , 15px , 50px)
.br-6{
    border-radius: 6px;
}
.br-15{
    border-radius: 15px;
}
.br-50{
    border-radius: 50px;
}
.brPerc-50{
    border-radius: 50%;
}
.color-blue{
    color: $color-blue;
}
.color-green{
    color: $color-turquoise;
}

//margin
.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}
.ml-20{
    margin-left: 20px;
}
.ml-10{
    margin-left: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.mr-20{
    margin-right: 20px;
}
.mr-10{
    margin-right: 10px;
}

//positions
.text-center{
    text-align: center;
}

//borders
.br-box{
    box-sizing: border-box;
}
