.wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    .card-wrapper{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        .wrap{
            width: 20%;
            min-width: 300px;
            box-sizing: border-box;
            padding: 10px 10px;
        }
    }
}
