.card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    border-top: 2px solid $border-primary;
    padding: 10px;
    box-sizing: border-box;
    background: $secondary;
    color: $text-primary;
    box-shadow: $box-shadow-secondary;
    transition: 320ms;
    .title{
        width: 100%;
        padding: 10px 0;
        font-family: $poppins-bold;
        color: $text-primary;
         position: relative;
         font-size: 25px;
        display: flex;
        justify-content: space-between;
       img{
        position: absolute;
        right: 0;
        top: 32px;
       }
    }
    .card-data{
        width: 100%;
        padding: 30px 0;
        font-size: 28px;
        color: $blue-dark;
    }
    .card-pera{
        display: flex;
        border-radius: 6px;
        padding: 10px 10px;
        width: 100%;
        background: $main-bg;
        box-sizing: border-box;
        p{
            display: flex;
            flex-wrap: wrap;
            span{
                font-size: 16px;
                width: 100%;
                text-align: right;
                font-family: $poppins-italic;
                font-weight: bold;

            }
        }
    }
    &:hover{
        transition: 320ms;
        cursor: pointer;
        margin-top: -10px;
    }
}