.solid-link{
text-decoration: none;
padding: 10px 30px;
background: transparent;
color: $text-dark;
font-family: $poppins;
border: 1px solid $border-primary;
border-radius: $link-border-radius;
font-size: $link-font-size;
}