<div class="container-fluid bg-secondary">
    <div class="themeChanger" (click)="activeDarkTheme()" [ngClass]="isDarkThemeActive == true ? 'darkThemeActivated' : ''">
            <i class="fas fa-moon" style="color: #f1c40f;"></i>
            <i class="fas fa-sun" style="color: #f39c12;margin-right: -15px;"></i>
            <span class="ball"></span>
    </div>
    <!-- Landing page start -->
    <div class="container">
        <!-- Navbar Start -->
        <div class="navbar d-flex justify-space-between">
            <div class="nav-logo">Office.io</div>
            <div class="nav-item">
                <ul>
                    <a href="#navbar" class="nav-link active">Home</a>
                    <a href="#features" class="nav-link">Features</a>
                    <a href="#navbar" class="nav-link">Plans</a>
                    <a href="#navbar" class="nav-link">Why Office.io?</a>
                </ul>
            </div>
            <div class="nav-auth">
                <div class="auth-link">
                    <a href="" class="btn-fill active-button-transparent">Login</a>
                    <a href="" class="btn-fill active-button" routerLink="signup">SignUp</a>
                </div>
            </div>
        </div>
        <!-- Navbar end -->

        <!-- JumboTurn start -->
        <div class="container jumboturn d-flex f-direction-column align-items-center justify-space-between">
            <div class="Jumboturn-top d-flex f-direction-column align-items-center justify-space-center pt-40">
                <p>All you need Office.io</p>
                <h1>Make your company easier</h1>
            </div>
            <div class="jumboturn-bottom">
               <div class="jumbo-box">
                <div class="box-icon"><i class="fa-solid fa-people-group icon-red"></i> <p>Do something in group</p></div>
                <div class="box-list">
                    <li>Group Video call</li>
                    <li>Group Messages</li>
                    <li>Track anyone which you have access of person</li>
                </div>

               </div>
               <div class="jumbo-box">
                <div class="box-icon"><i class="fa-solid fa-people-group icon-green"></i> <p>Do something in group</p></div>
                <div class="box-list">
                    <li>Group Video call</li>
                    <li>Group Messages</li>
                    <li>Track anyone which you have access of person</li>
                </div>
               </div>
               <div class="jumbo-box">
                <div class="box-icon"><i class="fa-solid fa-people-group icon-blue"></i> <p>Do something in group</p></div>
                <div class="box-list">
                    <li>Group Video call</li>
                    <li>Group Messages</li>
                    <li>Track anyone which you have access of person</li>
                </div>
               </div>
            </div>
        </div>
        <!-- JumboTurn end -->

    </div>
    <!-- Landing page end -->
    <div class="container bg-secondary" id="features"> 
        <h1 class="text-primary">Features</h1>
        <div class="pt-15 d-flex gap-10 align-items-center f-wrap justify-space-center">
            <p class="solid-link">video call</p>
            <p class="solid-link">task assgin</p>
            <p class="solid-link">realtime notification</p>
            <p class="solid-link">arrange employees</p>
            <p class="solid-link">screen share</p>
            <p class="solid-link">group meeting</p>
            <p class="solid-link">deadline tracker</p>
            <p class="solid-link">create project with team</p>
            <p class="solid-link">budget</p>
        </div>
          <div  class="pt-15 d-flex gap-10 align-items-center w-100 f-wrap justify-space-center">
            <swiper-container slides-per-view="3" speed="500" [spaceBetween]="30"  autoplay-delay="3000"  loop="true" init="true" css-mode="true" class="w-100 f-wrap">
                <swiper-slide><div class="feature-card">
                    <img src="./../../../assets/images/video.jpg" alt="">
                    <div class="feature-detail">
                        <div><img src="../../../assets/images/home/videocall.png" alt="video call"> <h3>Video Call</h3></div>
                        <div><p>{{ 'Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quo eius, nemo saepe similique laudantium perspiciatis,
                             ipsa assumenda nobis fugiat necessitatibus hic deserunt rem sapiente omnis 
                             iste mollitia odit totam soluta, beatae molestias commodi qui quaerat eveniet.
                              Debitis repellat omnis tempora quae esse illo recusandae consequuntur delectus tenetur aliquam, ea nihil?'  | formatText:100}}</p></div>
                    </div>
                </div></swiper-slide>
                <swiper-slide><div class="feature-card">
                    <img src="./../../../assets/images/video.jpg" alt="">
                    <div class="feature-detail">
                        <div><img src="../../../assets/images/home/notification.png" alt="video call"> <h3>Realtime Notification</h3></div>
                        <div><p>{{ 'Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quo eius, nemo saepe similique laudantium perspiciatis,
                             ipsa assumenda nobis fugiat necessitatibus hic deserunt rem sapiente omnis 
                             iste mollitia odit totam soluta, beatae molestias commodi qui quaerat eveniet.
                              Debitis repellat omnis tempora quae esse illo recusandae consequuntur delectus tenetur aliquam, ea nihil?'  | formatText:100}}</p></div>
                    </div>
                </div></swiper-slide>
                <swiper-slide><div class="feature-card">
                    <img src="./../../../assets/images/video.jpg" alt="">
                    <div class="feature-detail">
                        <div><img src="../../../assets/images/home/meet.png" alt="video call"> <h3>Meetings</h3></div>
                        <div><p>{{ 'Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quo eius, nemo saepe similique laudantium perspiciatis,
                             ipsa assumenda nobis fugiat necessitatibus hic deserunt rem sapiente omnis 
                             iste mollitia odit totam soluta, beatae molestias commodi qui quaerat eveniet.
                              Debitis repellat omnis tempora quae esse illo recusandae consequuntur delectus tenetur aliquam, ea nihil?'  | formatText:100}}</p></div>
                    </div>
                </div></swiper-slide>
                <swiper-slide><div class="feature-card">
                    <img src="./../../../assets/images/video.jpg" alt="">
                    <div class="feature-detail">
                        <div><img src="../../../assets/images/home/sreenshare.png" alt="video call"> <h3>Screen Share</h3></div>
                        <div><p>{{ 'Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quo eius, nemo saepe similique laudantium perspiciatis,
                             ipsa assumenda nobis fugiat necessitatibus hic deserunt rem sapiente omnis 
                             iste mollitia odit totam soluta, beatae molestias commodi qui quaerat eveniet.
                              Debitis repellat omnis tempora quae esse illo recusandae consequuntur delectus tenetur aliquam, ea nihil?'  | formatText:100}}</p></div>
                    </div>
                </div></swiper-slide>
                <swiper-slide><div class="feature-card">
                    <img src="./../../../assets/images/video.jpg" alt="">
                    <div class="feature-detail">
                        <div><img src="../../../assets/images/home/task.png" alt="video call"> <h3>Task Assgin</h3></div>
                        <div><p>{{ 'Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quo eius, nemo saepe similique laudantium perspiciatis,
                             ipsa assumenda nobis fugiat necessitatibus hic deserunt rem sapiente omnis 
                             iste mollitia odit totam soluta, beatae molestias commodi qui quaerat eveniet.
                              Debitis repellat omnis tempora quae esse illo recusandae consequuntur delectus tenetur aliquam, ea nihil?'  | formatText:100}}</p></div>
                    </div>
                </div></swiper-slide>
                </swiper-container>
          </div>
    </div>
</div>

<!-- autoplay-delay="3000"  -->