<div id="main" id="home">
    

    <div id="landingPage">
        <div class="humburgerMenu">
            <button (click)="navbarHomeHideAndShow(navbarhomes)">
                <span></span>
            </button>
        </div>


        <div class="home-navbar homeNavbarHide container-fluid" #navbarhomes >
            <div class="container-fluid" id="navbarHome">
                <div class="container top-20  d-flex align-item-center br-6 navbarHomeInner">
                    <div class="row justify-content-space-between">
                        <div class="menu d-flex p-r">
                            <li class="mene-item"><a href="#home">Home</a></li>
                            <li class="mene-item"><a href="#about">About</a></li>
                            <!-- <li class="mene-item"><a href="#about">Service</a></li> -->
                        </div>
                        <div class="logo p-l">dev. <i class="fa-solid fa-heart" ></i></div>
                        <div class="menu d-flex p-r">
                            <li class="mene-item"><a href="#skill">Skills</a></li>
                            <li class="mene-item"><a href="#projects">Project</a></li>
                            <!-- <li (click)="openModal()" class="mene-item"><a>Login</a></li> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--=========*** Home Section **============-->
        <div class="container" id="banner" style="padding-top: 200px; z-index: 2; position: relative;">
            <div class="row d-flex justify-content-center" style="padding: 20px; box-sizing: border-box;">
                <div class="col-sm-10 card " style="padding: 20px; box-sizing: border-box;" id="detailCard">
                    <div class="w-100 d-flex justify-content-center"><img src="./../../../assets/images/profile.jpg" alt="" id="profileImage"></div>
                    <h1 class="w-100 text-center">Hi, My Name is</h1>
                    <h1 class="w-100 text-center"><span>Raajis</span></h1>
                    <p class="w-100 text-center">Mean Stack Developer</p>
                    <div class="text-center w-100"><button class="btn btn-outline m-t-lg">Hire me</button></div>
                    <div class="card m-t-lg bg-blue" style="box-shadow: none; background: transparent;" id="socialCard">
                        <div class="card-header  w-100 text-center"><h1>Follow me </h1></div>
                        <div class="icons">
                            <div class=""><a href="" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a></div>
                            <div class=""><a href="" class="facebook"><i class="fa-brands fa-facebook-f"></i></a></div>
                            <div class=""><a href="" class="instagram"><i class="fa-brands fa-instagram"></i></a></div>
                            <div class=""><a href="" class="twitter"><i class="fa-brands fa-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <!-- //section2 about-->
    <div style="width: 100%; height: auto;   background-attachment: fixed;" class="section2" id="about">
    <div class="container text-left" style="margin-top: 90px;"><h1 style="position: relative; margin-left: 12px;" class="theme-text" id="About">About</h1></div>
     
    <div class="container about">
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm-6 p-lg" style="padding-top: 60px;">
                <div class="p-lg" id="aboutPera">
                    <p class=" about-pera">Experienced Angular Developer with 2+ years of professional expertise in designing and developing
                        dynamic web
                        applications. Skilled in utilizing the Angular framework to create efficient and user-friendly
                        interfaces.
                        Proficient in working with HTML, CSS, SASS and JavaScript to build robust front-end solutions.
                        Adept at
                        collaborating with cross-functional teams to deliver high-quality software products within
                        deadlines.</p>
                </div>
             
            </div>
            <div class="col-sm-6" style="padding-top: 50px; ">
                <div class="aboutImage">
                    <img src="../../../assets/images/about.jpg" alt="about image">
                    <div class="imageDetail">
                        s
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-left" style="margin-top: 120px;"><h1 style="position: relative; margin-left: 12px;" class="theme-text" id="skill">Skills</h1></div>
        <div class="container about" style="margin-top: 50px;">
            <div class="row">
                <div class="col-sm-3  p-lg p-relative" *ngFor="let skill of skills" id="skillCard">
                    <div class="card d-flex m-t-lg" style="padding-left: 20px;">
                        <h3 class="w-100">{{skill.language}}</h3>
                        <h5 class="w-100 p text-blue">{{skill.experience}}</h5>
                        <div class="card-icon"><i class="{{skill.icon}} m-t-lg" style="font-size: 40px;"></i></div>
                        <div class="per theme-text">{{skill.per}}%</div>
                    </div>
                </div>
                <!-- <div class="col-sm-3 p-lg">
                    <div class="card d-flex m-t-lg" style="padding-left: 20px;">
                        <h3 class="w-100">Angular</h3>
                        <h5 class="w-100 p text-blue">Experienced</h5>
                        <div><i class="fa-brands fa-angular m-t-lg" style="font-size: 40px;"></i></div>
                    </div>
                </div>
                <div class="col-sm-3 p-lg">
                    <div class="card d-flex m-t-lg" style="padding-left: 20px;">
                        <h3 class="w-100">Angular</h3>
                        <h5 class="w-100 p text-blue">Experienced</h5>
                        <div><i class="fa-brands fa-angular m-t-lg" style="font-size: 40px;"></i></div>
                    </div>
                </div>
                <div class="col-sm-3 p-lg">
                    <div class="card d-flex m-t-lg" style="padding-left: 20px;">
                        <h3 class="w-100">Angular</h3>
                        <h5 class="w-100 p text-blue">Experienced</h5>
                        <div><i class="fa-brands fa-angular m-t-lg" style="font-size: 40px;"></i></div>
                    </div>
                </div>
                <div class="col-sm-3 p-lg">
                    <div class="card d-flex m-t-lg" style="padding-left: 20px;">
                        <h3 class="w-100">Angular</h3>
                        <h5 class="w-100 p text-blue">Experienced</h5>
                        <div><i class="fa-brands fa-angular m-t-lg" style="font-size: 40px;"></i></div>
                    </div>
                </div>
                <div class="col-sm-3 p-lg">
                    <div class="card d-flex m-t-lg" style="padding-left: 20px;">
                        <h3 class="w-100">Angular</h3>
                        <h5 class="w-100 p text-blue">Experienced</h5>
                        <div><i class="fa-brands fa-angular m-t-lg" style="font-size: 40px;"></i></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!-- projects start-->
    <div class="container-fluid" id="projects">
        <div class="container">
            <div class="container text-left" style="margin-top: 90px;"><h1 style="position: relative; margin-left: 12px;" class="theme-text" id="About">projects</h1></div>
            <div class="row" style="margin-top: 100px;">
                <div class="col-sm-4 p-lg">
                    <div class="card">
                        <h2 class="w-100 ">Angular</h2>
                        <div class="card-image w-100"><img src="../../../assets/images/web3.png" alt="card"></div>
                        <div class="card-tags w-100 ">
                            <span class="html">html</span>
                            <span class="css">css</span>
                            <span class="angular">angular</span>
                            <span class="javascript">JavaScript</span>
                            <div class="card-footer w-100">
                                <a href="#" class="code">Code</a>
                                <a href="#" class="link">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 p-lg">
                    <div class="card">
                        <h2 class="w-100 ">Angular</h2>
                        <div class="card-image w-100"><img src="../../../assets/images/web3.png" alt="card"></div>
                        <div class="card-tags w-100 ">
                            <span class="html">html</span>
                            <span class="css">css</span>
                            <span class="angular">angular</span>
                            <span class="javascript">JavaScript</span>
                            <div class="card-footer w-100">
                                <a href="#" class="code">Code</a>
                                <a href="#" class="link">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 p-lg">
                    <div class="card">
                        <h2 class="w-100 ">Angular</h2>
                        <div class="card-image w-100"><img src="../../../assets/images/web3.png" alt="card"></div>
                        <div class="card-tags w-100 ">
                            <span class="html">html</span>
                            <span class="css">css</span>
                            <span class="angular">angular</span>
                            <span class="javascript">JavaScript</span>
                            <div class="card-footer w-100">
                                <a href="#" class="code">Code</a>
                                <a href="#" class="link">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 p-lg">
                    <div class="card">
                        <h2 class="w-100 ">Angular</h2>
                        <div class="card-image w-100"><img src="../../../assets/images/web3.png" alt="card"></div>
                        <div class="card-tags w-100 ">
                            <span class="html">html</span>
                            <span class="css">css</span>
                            <span class="angular">angular</span>
                            <span class="javascript">JavaScript</span>
                            <div class="card-footer w-100">
                                <a href="#" class="code">Code</a>
                                <a href="#" class="link">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- projects end-->

    <!-- footer start -->
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row text-center d-flex justify-content-center theme-text ">
                    this is footer
            </div>
        </div>
    </div>
        <!-- footer end -->
    </div>
    


    <div class="themeSwitcher">
        <button (click)="themeSwitcher()"><i class="fa-solid fa-circle-half-stroke"></i></button>
    </div>


    <!-- //Login Modal -->
    <div class="modal" *ngIf="modal">
        <div>
            <div class="close"><button (click)="hideModal()">Close</button></div>
            <app-login></app-login>
        </div>
    </div>

</div>