.navbar {
    display: flex;
    align-items: center;
    height: 80px;
}
.jumboturn{
    background: url(../../../assets/images/jumboturn.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    border-radius: 30px;
    position: relative;
}
.pt-40{
    padding-top: 40px;
}





  