<div class="container-fluid">
    <!--===== Landing Page =======-->
    <div class="container-fluid" id="landingPage">
        <div class="rightSide">
        </div>
        <div class="container f-direction-column d-flex mainContainer">
            <div class="toggle" (click)="navToggle()">
                      <span id="span1"></span>
                      <span id="span2"></span>
                      <span id="span3"></span>
            </div>
            <div class="homeNav" id="homeNav">
                <div class="navLogo"><a href="">
                    <span>MY</span>
                    <SPAn>Office</SPAn>
                </a></div>
                <div class="navMenu">
                    <ul>
                        <a routerLink="/features">Feature</a>
                        <a routerLink="/services">Services</a>
                        <a routerLink="/plan">Plan</a>
                    </ul>
                </div>
                <div class="navAuth">
                    <li routerLink="signup" (click)="login()">Sign in</li>
                    <li routerLink="signup" (click)="signup()">Sign up</li>
                </div>
            </div>
            <div class="homeCenter">
                <div class="centerLeft">
                    <h1>THERE IS NO PROBLEM WHEN YOU USE</h1>
                    <span>MY OFFICE</span>
                    <p>A few weeks ago, I worked on a website refresh and wanted to outline text in a few titles. This is not the effect I’d normally use, but in this case, the titles</p>
                    <a href="">Get start <i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="centerRight">
                    <img src="./../../../assets/images/vactorImage.png" alt="">
                </div>

            </div>
            <div class="homeEnd">
                <a href=""></a>
            </div>
        </div>
    </div>
    <!--===== Landing Page End=======-->

    <!--========== Feature Page =============-->
    <div class="container-fluid" id="feature"> 
        <div class="container d-flex f-direction-column">
            <h1 class="w-100">Features</h1>
            <div class="featureCards">
                <div class="featureCard">
                    <div class="blue">
                        <a href=""><i class="fa-solid fa-video"></i></a>
                    </div>
                    <div><h1>Let's Connect with video call</h1></div>
                    <div><p>A box-shadow CSS generator that helps you quickly generate box-shadow CSS declarations for your website. It comes with many options and it demonstrates instantly. If you want</p></div>
                </div>
                <div class="featureCard">
                    <div class="red">
                        <a href=""><i class="fa-solid fa-video"></i></a>
                    </div>
                    <div><h1>Let's Connect with video call</h1></div>
                    <div><p>A box-shadow CSS generator that helps you quickly generate box-shadow CSS declarations for your website. It comes with many options and it demonstrates instantly. If you want</p></div>
                </div>
                <div class="featureCard">
                    <div class="green">
                        <a href=""><i class="fa-solid fa-video"></i></a>
                    </div>
                    <div><h1>Let's Connect with video call</h1></div>
                    <div><p>A box-shadow CSS generator that helps you quickly generate box-shadow CSS declarations for your website. It comes with many options and it demonstrates instantly. If you want</p></div>
                </div>
                <div class="featureCard">
                    <div class="yellow">
                        <a href=""><i class="fa-solid fa-video"></i></a>
                    </div>
                    <div><h1>Let's Connect with video call</h1></div>
                    <div><p>A box-shadow CSS generator that helps you quickly generate box-shadow CSS declarations for your website. It comes with many options and it demonstrates instantly. If you want</p></div>
                </div>
                <div class="featureCard">
                    <div class="blue">
                        <a href=""><i class="fa-solid fa-video"></i></a>
                    </div>
                    <div><h1>Let's Connect with video call</h1></div>
                    <div><p>A box-shadow CSS generator that helps you quickly generate box-shadow CSS declarations for your website. It comes with many options and it demonstrates instantly. If you want</p></div>
                </div>
                <div class="featureCard">
                    <div class="red">
                        <a href=""><i class="fa-solid fa-video"></i></a>
                    </div>
                    <div><h1>Let's Connect with video call</h1></div>
                    <div><p>A box-shadow CSS generator that helps you quickly generate box-shadow CSS declarations for your website. It comes with many options and it demonstrates instantly. If you want</p></div>
                </div>
                
            </div>
        </div>

    </div>
    <!--========== Feature Page =============-->
</div>
