.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.container {
  width: 1400px;
  background: red;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
