.container {
    @include for-macbookair{
        width: 1000px !important;
        .jumboturn-peraghraph{
            padding: 0 50px !important;
        }
    }
}

//sign up
body{
    @include for-macbookair{
        .sign-up{
            .signup-card{
                flex-direction: column-reverse;
                div{
                    width: 100% !important;
                }
                div.auth{
                    padding:30px 12px !important;
                    box-sizing: border-box;
                }
            }
        }
    }
}