//@--------------------------------------------@//
 //this media queries only for mobile devices// 
 //@-------------------------------------------@//

body {
    @include small-screen {
        .container {
            width: 100% !important;
        }
        //    Home Page 

        .stickyNavbar {
            width: 100% !important;
            display: flex !important;
            justify-content: space-between !important;
            flex-direction: column !important;
            position: fixed !important;
            height: 60px !important;
            padding: 67px 0px 15px 20px !important;
            min-height: 460px !important;
            top: -600px !important;
            align-items: start !important;
            margin-top: 0px !important;
            transition: 320ms !important;
            background: rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(12.6px) !important;
            -webkit-backdrop-filter: blur(12.6px) !important;
            border-bottom: none !important;
        }
        .homeNav{
            width: 100%;
            display: flex;
            justify-content: space-between !important;
            flex-direction: column !important;
            position: fixed !important;
            height: 60px;
            padding: 67px 0px 15px 20px !important;
            min-height: 460px;
            top: -600px;
            align-items: start !important;
            margin-top: 0px !important;
            transition: 320ms;
            background: rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(12.6px);
            -webkit-backdrop-filter: blur(12.6px);
        }
        .navbarUnHide{
            top: 0 !important;
        }
        .toggle{
            display: flex !important;
            position: fixed !important;
            z-index: 55 !important;
        }
        #landingPage div.mainContainer .homeNav .navMenu ul{
            display: flex !important;
            gap: 10px !important;
            flex-direction: column !important;
        }
        #landingPage div.mainContainer .homeCenter div.centerLeft h1{
            font-size: 38px !important;
            padding: 0px 14px !important;

        }
        #landingPage div.mainContainer .homeCenter div.centerLeft span{
            font-size: 40px !important;
            padding: 0px 14px !important;
        }
        #landingPage div.mainContainer .homeCenter div.centerLeft p{
            padding: 4px 14px !important;
        }
        //dashboard css
        .sidebarCollapse {
            width: 200px;
            position: fixed;
            transition: 320ms;
            margin-left: 0px;
            z-index: 66;
            margin-left: -200px;
            top: 51px;
        }

        #mainDiv .sidebar-collapse {
            width: 200px !important;
            position: fixed;
            z-index: 66;
            top: 51px;
        }

        .sidebarUnCollapse {
            margin-left: 0px;
            width: 200px !important;
            position: fixed;
            min-width: 200px !important;
            z-index: 66;
            margin-left: -200px;
            top: 51px;
        }

        #mainDiv #content {
            width: 100% !important;
        }

        .card-wrapper {
            justify-content: center !important;
        }

       

          //sign up page
          .sign-up{
            .back{
                top: 4px !important;
                left: 27px !important;
            }
            .signup-card{
                width: 95% !important;
                min-width: auto !important;
                margin-top: 40px;
                div{
                    width: 100% !important;
                }
                div.auth{
                    padding:30px 12px !important;
                    box-sizing: border-box;
                }
            }
        }
        //buttons
                .btn-filled-red,
                .btn-outline-red,
                .btn-fill,
                .btn-filled-green,
                .btn-outline-green,
                .btn-filled-blue,
                .btn-outline-blue,
                .btn-filled-turk,
                .btn-outline-turk {
                    padding: 13px 27px !important;
                    font-size: 14px !important;
                }
    }
}