body{
    @include for-tablet{
        .container{
            width: 100% !important;
            // background: orange;
        }
      
        //Home Page
        #landingPage div.mainContainer .homeNav .navAuth li {
            padding: 5px 15px !important;
            font-size: 14px !important;
        }
        #landingPage div.mainContainer .homeNav .navMenu ul a{
            padding: 5px 15px !important;
            font-size: 14px !important;
        }
        #landingPage div.mainContainer .homeCenter{
            flex-direction: column-reverse !important;   
        }
        #landingPage div.mainContainer .homeCenter div.centerRight {
            display: none !important;
        }
        #landingPage div.mainContainer .homeCenter div.centerLeft{
            width: 100% !important;
            justify-content: center !important;
            align-items: center !important;
            *{
                text-align: center;
            }
        }
        #landingPage div.mainContainer .homeNav .navLogo  {
            margin-left: 20px !important;
        }
        #landingPage div.mainContainer .homeNav .navAuth{
            margin-right: 20px !important;
        }

        //sign up page
        .sign-up{
            .signup-card{
                width: 85% !important;
                div{
                    width: 100% !important;
                }
                div.auth{
                    padding:30px 12px !important;
                    box-sizing: border-box;
                }
            }
        }

        
    }
}

