.stickyNavbar {
    position: fixed !important;
    z-index: 4 !important;
    transition: 320ms;
    left: 0 !important;
    margin-top: 0 !important;
    justify-content: space-around !important;
    height: 80px !important;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12.6px);
    -webkit-backdrop-filter: blur(12.6px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.36);
}
.span1{
    transform: rotate(55deg) !important;
    transition: 320ms !important;

}
.span3{
    transform: rotate(139deg) !important;
    width: 100% !important;
    transition: 320ms !important;
}
.span2{
    width: 0px !important;
    height: 0px !important;
}

swiper-slide {
    // background: red;
    height: auto;
    // overflow: hidden;
    // position: relative;
}


//theme switcher
