<div class="container-fluid">
    <!--===== Landing Page =======-->
    <div class="container-fluid" id="landingPage">
        <div class="rightSide">
        </div>
        <div class="container f-direction-column d-flex mainContainer">
            <!-- <div class="toggle" (click)="navToggle()"> -->
                      <!-- <span id="span1"></span>
                      <span id="span2"></span>
                      <span id="span3"></span>
            </div> -->
            <div class="homeNav" id="homeNav">
                <div class="navLogo"><a href="">
                    <span>MY</span>
                    <SPAn>Office</SPAn>
                </a></div>
                <div class="navMenu">
                    <ul>
                        <a routerLink="/..">Home</a>
                        <a routerLink="/services">Services</a>
                        <a routerLink="/plan">Plan</a>
                    </ul>
                </div>
                <div class="navAuth">
                    <!-- <li routerLink="signup" (click)="login()">Sign in</li> -->
                    <!-- <li routerLink="signup" (click)="signup()">Sign up</li> -->
                </div>
            </div>
            
            
        </div>
    </div>
    <!--===== Landing Page End=======-->

    <!--========== Feature Page =============-->
    <div class="container-fluid" id="feature"> 
        <div class="container d-flex f-direction-column">
            <h1 class="w-100">Features</h1>
           
        </div>

    </div>
    <!--========== Feature Page =============-->
</div>
