@mixin buttons{
  border: none;
  outline: none;
  // border-radius: 7px;
  &:focus{
    outline: none;
    border: none;
  }
}

//tabs button
@mixin tabBtn{
  border: none;
  box-sizing: border-box;
  outline: none;
  // border-radius: 7px;
  font-size: 17px;
  &:focus{
    outline: none;
    border: none;
  }
}