@mixin link-with-icon{
    text-decoration: none;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blackWhite;
    cursor: pointer;
    box-sizing: border-box;
    i {
        font-size: 17px;
    }

    &:hover {
        color: $color-white;
        background: $active-list;
    }
    // border: 1px solid $red-dark;
}



@mixin link-icon-red{
    @include link-with-icon;
    background: $red-light;
    color: $red-dark;
    &:hover{
        color: $red-light;
        background: $red-dark;  
    }
}

@mixin link{
    text-decoration: none;
    border-radius: 7px;
    font-size: 17px;
    transition: 320ms;
    outline: none;
    padding: 5px 25px;
    cursor: pointer;
}