<div class="main-content">
 <h1>Managers</h1>
 <div class="table">
<div class="tableHeading">
    <div class="">hello </div>
    <div class="rightAction br-box">
        <input type="text" placeholder="Search " class="table-input" >
        <button class="btn-black"> <i class="fa-solid fa-filter"></i> Filter</button>
        <button class="btn-black" (click)="addUsers()"> <i class="fa-solid fa-plus"></i> Add user</button>
    </div>
</div>

   <div class="mainTable">
        <table>
            <tbody>
                <tr>
                    <th>SN</th>
                    <th>NAME</th>
                    <th>AGE</th>
                    <th>CLASS</th>
                    <th>ADDRESS</th>
                    <th>ROLL</th>
                    <th>ACTION</th>
                </tr>
            </tbody>
            <tbody>
                <tr *ngFor="let manager of managers;let i = index">
                    <td>{{i + 1}}</td>
                    <td>
                        <div class="profile">
                            <div>
                                <img src="{{manager.profile}}" alt="" >    
                            </div>
                            <div class="detail">
                                    <h2>{{manager.name}}</h2>
                                    <p>emal@gmail.com</p>
                            </div>
                        </div>
                    </td>
                    <td>{{manager.age}}</td>
                    <td>{{manager.class}}</td>
                    <td>{{manager.address}}</td>
                    <td>{{manager.roll}}</td>
                    <td class="action-container"><button (click)="openAction(i)"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                       <ng-container *ngIf="actionModel">
                        <div class="actionModel" *ngIf="selectedIndex === i">
                            <button (click)="viewProfile(manager)"><i class="fa-regular fa-user"></i><span>View Profile</span></button>
                            <button><i class="fa-solid fa-pen-to-square"></i><span>Edit Detail</span></button>
                            <button><i class="fa-solid fa-key"></i><span>Change Permission</span></button>
                            <button><i class="fa-solid fa-file-export"></i><span>Export Details</span></button>
                            <button (click)="deleteUser(manager)"><i class="fa-solid fa-trash-can"></i><span>Delete User</span></button>

                        </div>
                       </ng-container>
                    
                    </td>
                </tr>
               
                
             
            </tbody>
        </table>
   </div>
 </div>   
</div>



<!--@ Profile viewer model
-- When you want to see user profile then user this 
---------------------->
<ng-container *ngIf="userForm">
    <div class="profileViewModel">
        <div class="modelWrapper p-0">
            <div class="modelCloseBtn">
                <button (click)="closeModel()"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="p-10 bg-red-dark br-7">
                <h1 class="text-white">Add User</h1>
            </div>
            <div class="modelContent d-flex f-wrap br-box justify-space-between p-10 bg-secondary">
                <div class="w-45 d-flex f-wrap f-direction-column ">
                    <h4 class="mb-5">Name</h4>
                    <input type="text" placeholder="Enter Name">
                </div>
                <div class="w-45 d-flex f-wrap f-direction-column ">
                    <h4 class="mb-5">Last Name</h4>
                    <input type="text" placeholder="Enter Last Name">
                </div>
                <div class="w-45 d-flex f-wrap f-direction-column ">
                    <h4 class="mb-5">Email</h4>
                    <input type="text" placeholder="example@gmail.com ">
                </div>
                <div class="w-45 d-flex f-wrap f-direction-column ">
                    <h4 class="mb-5">Address</h4>
                    <input type="text" placeholder="United, berlen">
                </div>
                <div class="w-45 d-flex f-wrap f-direction-column ">
                    <h4 class="mb-5">City</h4>
                    <input type="text" placeholder="New York">
                </div>
            </div>
        </div>
    </div>
</ng-container>


 <ng-container>
    <app-profile-view [userData]="userObj"></app-profile-view>
 </ng-container>



 <ng-container>
    <app-confirmation></app-confirmation>
 </ng-container>

 