@import 'src/scss/index';

.main-card{
  display: contents;
}
.sign-up {
  width: 100%;
  height: 100vh;
  background-image: $backgroundImage;
  display: flex;
  justify-content: center;
  align-items: center;

  .signup-card {
    width: 40%;
    height: auto;
    min-width: 400px;
    background: $primary;
    border: 1px solid $border-primary;
    border-radius: 7px;
    box-shadow: $box-shadow-primary;
    display: flex;
    // overflow-x: hidden;

    .auth {
      width: 60%;
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }

    .companyDetail {
      background: $secondary;
      width: 40%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 7px;
    }
  }
}

.back {
  position: fixed;
  top: 50px;
  left: 50px;
}