<div class="container-fluid">
    <div class="w-100 d-flex f-wrap f-direction-column">
        <div class="d-flex justify-space-between p-10 br-box">
            <div class="user-profile f-direction-column ">
                <div class="user-image">
                    <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/06/06/15/Chris-Pratt.jpg" alt="user-profile">
                </div>
                <div class="user-details">
                    <h3>John Doe</h3>
                    <p>Software Engineer</p>
                </div>
                <div class="user-links">
                    <a href="" class="link-icon-red"><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="edit">
                <button class="link-icon" style="height: 45px;"><i class="fa-regular fa-pen-to-square"></i></button>
            </div>
        </div>
    </div>
</div>