<div class="container-fluid bg-secondary h-50 br-z7x789 bx-shadow-priamry br-primary-btm">
    <div class="container h-50 d-flex justify-space-between align-items-center">
        <div class="logo"><a href=""><img src="../../../../../assets/images/lg.png" alt="logo" width="50"></a></div>
        <div class="item h-50">
            <ul class="h-50 d-flex justify-space-between align-items-center">
                <ng-container *ngFor="let nav of navbar">
                        <a [routerLink]="nav.route" class="text-primary" routerLinkActive="activeNav" [routerLinkActiveOptions]="{ exact: true }">{{nav.routerName}}</a>
                </ng-container>   
            </ul>
        </div>
        <div class="auth d-flex justify-space-between gap-10 align-items-center">
            <button class="btn-filled-red" routerLink="/signup" (clic)="signup()">Sign up</button>
            <button class="btn-outline-red"  routerLink="/signup" (click)="login()">Sign in</button>
        </div>
    </div>
</div>