// ** Grid BreakPoints ** //

//for extra large screen
$xx-Large:1400px;

//for large screen
$x-Large:1200px;

//for mid large screen 
$Large:992px;

//for medium screen
$Medium:768px;

//for small screen
$Small:576px;
