// Light Theme
body {
  --primary: #F6F6F6;
  --secondary: white; //#F0F0F0
  --cardColor:#EBEBEB;
  --borderPrimary: #e2e2e2;
  --boxShadowPrimary: rgb(149 149 149 / 27%) 7px 7px 76px -18px;
  --boxShadowSecondary:0px 10px 15px -3px rgba(0,0,0,0.1);
  --borderWithShadow: #dfdfdf66;
  --textPrimary: #414141d1;
  --textSecondary: #3e3e3eba;
}

// Dark Theme  
body.dark-theme {
  --primary: black;
  --secondary: #232323fc;
  --cardColor:#EBEBEB;
  --borderPrimary: #29292980;
  --boxShadowPrimary: rgb(19 7 7) 10px 12px 69px 17px;
  --boxShadowSecondary: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05), /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  --borderWithShadow: #5a56562b;
  --textPrimary: #adababd4;
  --textSecondary: #6d6565;
}

//Theme Setup
$primary: var(--primary);
$secondary: var(--secondary);
$main-bg:var(--cardColor);
$box-shadow-secondary:var(--boxShadowSecondary);
$border-primary: var(--borderPrimary);
$box-shadow-primary: var(--boxShadowPrimary);
$shadow-border: var(--borderWithShadow);
$text-primary: var(--textPrimary);
$text-secondary: var(--textSecondary);



//Color Variant (RED, GREEN , BLUE, YELLOW)
$green-dark: #618264;
$green-medium: #79AC78;
$green-light: #B0D9B1;

$red-dark: #e60000;
$red-medium: #FF6969;
$red-light: #FF6666;

$yellow-dark: #e5e600;
$yellow-medium: #ffff1a;
$yellow-light: #ffff4d;

$blue-dark: #0000e6;
$blue-medium: #4d4dff;
$blue-light: #8080ff;

//Global Colors
$color-turquoise:#00e6a4;
$color-blue:#219bc4;
