// Colors 
// $_color_orange:#FFBF00;
// $_color_orangeLight:#FAD5A5;
// $_color_orangeExtraDark:#C69749;

$_color-orange:#FE3833;
$_color-blue:#1890ff;
$_color-blue-light:#1890ff6e;
$_color-orange-light:#7a7a7a30;


// Light Theme
body {
  --background:rgb(235 242 255);
  --background-Light:white;
  --content-background:white;
  --text-color:rgb(39, 39, 39);
  --linear-background:  linear-gradient(
    20deg,
    hsl(0deg 0% 100%) 0%,
    hsl(225deg 28% 93%) 49%,
    hsl(225deg 28% 86%) 69%,
    hsl(224deg 28% 80%) 81%,
    hsl(223deg 28% 73%) 88%,
    hsl(222deg 28% 66%) 93%,
    hsl(221deg 28% 59%) 97%,
    hsl(220deg 28% 53%) 99%,
    hsl(218deg 34% 46%) 100%,
    hsl(215deg 48% 38%) 100%,
    hsl(209deg 86% 28%) 100%
  );
  }

// Dark Theme  
  body.dark-theme {
    --background:#1C1C1C;
    --background-Light:rgb(28 53 97);
    --text-color:rgb(146 146 149);
    --content-background:#111111;
    --linear-background:linear-gradient(
      30deg,
      hsl(0deg 0% 1%) 0%,
      hsl(224deg 27% 7%) 7%,
      hsl(221deg 33% 11%) 24%,
      hsl(219deg 40% 15%) 56%,
      hsl(217deg 46% 19%) 76%,
      hsl(216deg 52% 22%) 87%,
      hsl(215deg 57% 26%) 93%,
      hsl(213deg 63% 29%) 97%,
      hsl(212deg 69% 33%) 99%,
      hsl(211deg 76% 35%) 100%,
      hsl(209deg 85% 38%) 100%
    );
  }

body{
  background: var(--background);
}

