@font-face {
    font-family: poppins;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: poppins-bold;
    src: url(../../assets/fonts/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: poppins-italic;
    src: url(../../assets/fonts/Poppins-Italic.ttf);
  }
  @font-face {
    font-family: poppins-medium;
    src: url(../../assets/fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: nova;
    src: url(../../assets/fonts/NovaSquare-Regular.ttf);
  }

  $nova:nova;
  $poppins:poppins;
  $poppins-bold:poppins-bold;
  $poppins-italic:poppins-italic;
  $poppins-medium:poppins-medium;
